@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Orbitron:wght@800&display=swap');

body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;  
}

#Home {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;

  height: 100vh;
  background:  url(./Assets/Background/BackgroundHome.jpg) ;
}

/*estilo de aparição em scroll*/
.show {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0);
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  opacity: 0;
  transition: all 1s;
  transform: translateX(-100%);
}
 
header h3 {
  color: #0F051D;

  text-align: center;
  font-family:'Orbitron';
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}

header ul {
  display: flex;
  gap: 10px;
  list-style: none; 
}

header ul li {
  color: #0F051D;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 111.111% */
  text-transform: capitalize;
}

.Redes ion-icon {
  width: 25px;
  height: 20px;
}

main {
  display: grid;
  justify-content: center;
  align-items: center;
  

  grid-template-columns: minmax(10%, 23%) minmax(20%,30%);
}

main img {
  width: 110%;
}

.Info {
  display: grid;
  gap: 4px;
}

.Info h1 {
  color: #0F051D;
  font-family: Inter;
  font-size: 41px;
  font-weight: 700;
  margin: 0;
}

.Info p {
  color: #7B7583;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.Info button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;

  border-radius: 50px;
  padding: 0;
  border: 0;

  color: #ffff;
  background: linear-gradient(62deg, #2600FC 0%, #FF00EA 100%);

  width: 52%;
  height: 41px;

  outline: auto;
  font-family: Inter;
  font-weight: 700;
  font-size: 12px;
}

.Members {
  display: flex;
  gap: 5px;
}

.Members img {
  width: 65px;
  height: 30px;
}

.Members span h3 {
  color: #0F051D;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.Members span p {
  margin: 0;
  color: #7B7583;

  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

#DarkMode {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;

  border-radius: 50%;
  border: 0;
  background: #0F051D;
  box-shadow: 0px 6px 32px -1px rgba(0, 0, 0, 0.08);
}

/*2 Parte*/
#Colletion {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  
  grid-row-gap: 3%;
  grid-template-columns: 100%;
  grid-template-rows: 15% 5% 70%;

 height: 100vh;
}

.MarcasFundadoras {
  display: grid;
  align-items: center;
  justify-items: center;

  grid-template-columns: repeat(5, minmax(50px, 300px));
}

.swiperNft {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8% 72% 4% 10%;
  row-gap: 5%;
  justify-items: center;
  align-items: center;
}

.swiperNft h1 {
  color: #0F051D;
  text-align: center;
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 100% */
  margin: 0;
}

.swiperNft h1 span {
  background: linear-gradient(67deg, #2600FC 0%, #FF00EA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.NFTS {
  display: grid;

  grid-template-columns: repeat(4, max-content);
  grid-template-rows: max-content min-content;
  column-gap: 2rem;
}

.NFTS picture {
  text-align: center;
}

.NFTS picture h3 {
  color: #0F051D;

  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}

.NFTS picture p {
  color: #7B7583;

  font-size: 12px;

  font-weight: 400;
  line-height: 24px; /* 160% */
}

#checar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

#checar button {
  height: 10px;

  border: 0;
  border-radius: 5px;
  opacity: 0.1;
  background: #0F051D;
}

#checar button:active, #checar button:focus {
  opacity: 1.6;
  background: #0F051D;
}

/*Arrumar os componentes de button de passar aos lados*/
#Left , #Rigth{
  display: none;
  width: 40px;

  justify-content: center;
  align-items: center;

  border-radius: 20px;
  border: 1px solid rgba(131, 131, 131, 0.25);
  opacity: 0.4;
  background: #FFF;
  box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.08);
}

#View {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  
  width: 25%;
  height: 38px;

  border: 0;
  border-radius: 50px;
  background: linear-gradient(60deg, #2600FC 0%, #FF00EA 100%);

  color: #FFF;

  text-align: center;
  font-size: 15px;
  
  font-weight: 700;
  line-height: 21.6px;
}

/*3 Parte da page*/
#Choose {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  
  grid-template-rows: minmax(10%, 10%) minmax(10%, 55%) minmax(10%, 15%) minmax(10%, 20%);
  height: 100vh;
}

.us {
  display: grid;
  row-gap: 5%;
  grid-template-rows: 20% ;
}

.us h2 {
  margin: 0;
  color: #0F051D;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  
  font-weight: 700;
  line-height: 64px; /* 100% */
}

.us h2 span {
  background: linear-gradient(71deg, #2600FC 0%, #FF00EA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.itensCho {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 17%);
  column-gap: 2%;
  grid-template-rows: 40vh;
}

.huge, .quality, .resource, .community {
  display: grid;
  justify-content: flex-start;
}

.quality, .community {
  align-items: end;
}

.huge div, .quality div, .resource div, .community div {
  display: grid;
  align-content: center;
  gap: 5%;

  height: 80%;
  width: fit-content;
  border-radius: 24px;
  border: 1px solid rgba(131, 131, 131, 0.25); 
}

.huge div h4, .quality div h4, .resource div h4, .community div h4 {
  margin: 0;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 30.8px; /* 110% */
  padding: 0 0 0 10%;
}

.huge p, .quality p, .resource p, .community p {
  margin: 0;
  color: #7B7583;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  
  padding: 0 20% 0 10%;
}

.conectados {
  display: flex;
  gap: 4rem;
}

.conectados div {
  display: grid; 
}

.conectados div h3 {
  margin: 0;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 72px;
  color: #0F051D;
}

.conectados div h3 {
  font-size: 30px;
}

.conectados div p {
  margin: 0;
  color: #7B7583;

  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.6px;
}

/*3Page*/
#Works {
  display: grid;
  justify-items: center;

  height: 150vh;
  grid-template-rows: 14px 34px 27% 25% 26%;
  grid-row-gap: 4%;

  margin: 2em 0 0 0 ;
}

.How {
  display: flex;
  gap: 10px;

  margin: 0;
  color: #0F051D;
  font-family: Inter;
  font-size: 34px;
  font-weight: 700;
}

#Works h2 span {
  background: linear-gradient(60deg, #2600FC 0%, #FF00EA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wallet, .artwork, .plataform {
  display: grid;
  justify-items: center;
  justify-content: start;
  grid-template-columns: minmax(100px, 16rem) minmax(100px, 15rem);
  
  column-gap: 5rem;
}

.wallet  div, .artwork  div, .plataform  div {
  display: grid;
  text-align: top;
  
}

.wallet  div h3, .artwork  div h3, .plataform  div h3 {
  margin: 0;
  font-family: Inter;
  font-size: 13px;
  line-height: 33px; /* 173.684% */

  background: linear-gradient(30deg, #2600FC 0%, #FF00EA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wallet div h2, .artwork div h2, .plataform div h2 {
  margin: 0;
  color: #0F051D;
  font-family: Inter;
  
  font-style: normal;
  font-weight: 700;
  
} 
.wallet div h2, .plataform div h2 {
  font-size: 26px;
} .artwork div h2{
  font-size: 23px;
} 

.wallet  div p, .artwork  div p, .plataform  div p {
  margin: 0;
  color: #7B7583;
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  
}

/*5 parte*/
#drop {
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;

  grid-template-rows: minmax(10%, 10%) minmax(50%, 50%) minmax(10%, 10%);

  gap: 10%;
  margin: 2rem 0 0 0;
  height: 70vh;
}

#drop h2 span {
  background: linear-gradient(71deg, #2600FC 0%, #FF00EA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*6 Page*/
#Rodmap {
  display: grid;
  justify-items: center;
  grid-template-rows: minmax(10%, 10%) minmax(20%, 90%) ;
  height: 105vh;
}

.Map {
  display: grid;
  grid-template-rows: repeat(2, 45%);
  grid-template-columns: repeat(3, 22%);
  height: 100vh;
  column-gap: 1rem;
  row-gap: 1.5rem;
  
  justify-content: center;
}

.Map section {
  display: grid;
  justify-content: center;
  
  border-radius: 32px;
  border: 1px solid rgba(131, 131, 131, 0.25);
}

.Map section p {
  justify-self: center;
  padding: 0;
  margin: 0;
  font-size: 11px;
  line-height: 15px;
  font-family: Inter;
  font-weight: 400;
  color: #7B7583;
}

.Map section span {
  display: flex;
  width: 30px;
  height: 30px;
  transform: rotate(16deg);
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border-radius: 50%;
  background: linear-gradient(25deg, #2600FC 0%, #FF00EA 100%);

  color: #FFF;
  font-family: Inter;
  font-size: 13px;
  
  font-weight: 700;
}

.Map section span p {
  color: #FFF;
}

.porcentagem {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.porcentagem h3 {
  font-family: Inter;
  font-size: 14px;

  font-weight: 700;
  line-height: 16px; 
  background: linear-gradient(66deg, #2600FC 0%, #FF00EA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.conteudo {
  justify-self: center;
  padding: 0 1rem 0 0;
  width: 62%;
}

/*7 page*/
#Artistic {
  display: grid;
  justify-items: center;
  align-content: space-around;

  height: 100vh;
  margin: 2rem 0 0 ;
}

.artics {
  display: grid;
  justify-items: center;
  grid-template-rows: 20% 80%;
  height: 75vh;
}

.artics h3 {
  display: flex;
  align-self: center;
  margin: 0;
  line-height: 30px;
  gap: 10px;
  color: #0F051D;
  font-family: Inter;
  font-size: 34px;
  font-weight: 700;
} 

.artics h3 span {
  background: linear-gradient(69deg, #2600FC 0%, #FF00EA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.artics section {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: center;
}

.Step, .Andry, .Zaid, .Laila {
  display: grid;
  justify-items: center;

  gap: 3%;
  height: 80%;
}

.Step, .Zaid {
  align-self: end;
  
}

.Step h4, .Andry h4, .Zaid h4, .Laila h4 {
  margin: 1rem 0 0 0;
  color: #0F051D;

  text-align: center;
  font-family: Inter;
  font-size: 18px;
}

.Step p, .Andry p, .Zaid p, .Laila p {
  color: #7B7583;
  margin: 0;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
}

.Step ul, .Andry ul, .Zaid ul, .Laila ul{
  display: flex;
  gap: 10%;
  align-items: center;
  margin: 0;
  padding: 0;
}

.Step ul ion-icon, .Andry ul ion-icon, .Zaid ul ion-icon, .Laila ul  ion-icon {
  font-size: 25px;
}

/* 8 page */
#Question { 
  display: grid;
  row-gap: 5%;
  grid-template-rows: 20% 80%;
  justify-content: center;
 
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;

  height: 95vh;
  margin: 1rem 0 1rem 0;
}

#Question h2 {
  text-align: center;
  color: #0F051D;
  font-family: Inter;
  font-size: 34px;
  font-weight: 700;
} #Question h2 span {
  background: linear-gradient(69deg, #2600FC 0%, #FF00EA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

#Question div {
  display: grid;

  border-radius: 24px;
  border: 1px solid rgba(131, 131, 131, 0.25);
  height: 90%;
  width: 40rem;
}

/*Fazer a trocação de icons ao apertar*/
details summary, details {
  /*Serve para tirar as propriedades do html*/
  all: unset;
  color: #0F051D;
  font-family: Inter;
  font-size: 15px;
  
  font-weight: 700;
  line-height: 26.4px; /* 125.714% */

} details p {
  font-size: 12px;
  line-height: 15px;
  font-family: Inter;
  font-weight: 400;
  color: #7B7583;
} summary::after {
  content: '\25B6'; /* Símbolo de seta para a direita */
  display: inline-block;
  margin-left: 8px; /* Adicione espaçamento se necessário */
  transition: transform 0.3s ease; /* Adiciona uma transição suave para a animação */
}details {
  margin: 5% 0 0 10%;
}

details[open] summary::after {
  transform: rotate(90deg); /* Rotaciona a seta quando o detalhe está aberto */
}

/*END*/
#End {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-rows: 25% 10% 10%;

  grid-template-rows: minmax(5%, 5%) minmax(20%, 95%);
  grid-template-columns: auto;

  height: 105vh;
}

#End h3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  
  color: #0F051D;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
}

#End h3 span {
  background: linear-gradient(69deg, #2600FC 0%, #FF00EA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#End p {
  color: #7B7583;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

#TheEnd {
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-rows: 31% 10% 10%;
 
  width: 98vw;
  height: 35vw;
  row-gap: 10px;
  background: url(./Assets/Background/End.jpg) center; 
}

#End div button {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;

  gap: 7%;
  color: #FFF;
  font-weight: 700;
  line-height: 19.2px;
  font-family: Inter;
  font-size: 15px;

  width: 15%;
  height: 32px;

  border: 0;
  border-radius: 50px;
  background: linear-gradient(51deg, #2600FC 0%, #FF00EA 100%);
}

footer {
  display: grid;

  grid-template-columns: minmax(10%, 30%) minmax(10%,15%) minmax(10%,15%);
  width: 98vw;
}

footer .NHUB {
 
}

footer .NHUB h2 {
  text-align: center;
  font-family: Orbitron;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
 
  background: var(--linear, linear-gradient(58deg, #2600FC 0%, #FF00EA 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}